html, body, div, span, applet, object, iframe, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	scroll-behavior: smooth;
}

/*main*/

.main {
	width: 100%;
	height: 800px;
	background-color: #fdf0d5;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.main_banner {
	width: 90%;
	height: 120px;
	background-color: #003049;
}

.main_content {
	width: 100%;
	height: 540px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.main_content_1 {
	width: 400px;
	height: 500px;
	overflow: hidden;
}

#main_img {
	width: 400px;
	height: 500px;
}

.main_content_2 {
	width: 800px;
	height: 500px;
	background-color: #669bbc;
	display: flex;
	align-items: center;
}

.main_content_2 p {
	padding: 5%;
}

/*services*/

.services {
	width: 100%;
	height: 250px;
	background-color: #003049;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.services_cont {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 150px;
	width: 20%;
	background-color: #669bbc;
}

.services_cont img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}

.services_cont img:hover {
	width: 65px;
	height: 65px;
	background-color: #3b3b3b47;
}

/*room*/

.room {
	width: 100%;
    padding-top: 3%;
	/* height: 400px; */
	background-color: #fdf0d5;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}

.room_cont {
	display: flex;
	width: 45%;
	height: 40vh;
	background-color: #669bbc;
	margin: 2% 0;
}

/* #PS{
	background-image: url("Presidential_suit/cover_ps.jpg");
	background-size: cover;
} */

.room_cont img {
	height: -webkit-fill-available;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.room_feature {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	margin: 2%;
	width: -webkit-fill-available;
	height: -webkit-fill-available;
}

.botton {
	/* background: #3498db; */
	background-image: -webkit-linear-gradient(top, #c1121f, #c1121f);
	background-image: -moz-linear-gradient(top, #c1121f, #c1121f);
	background-image: -ms-linear-gradient(top, #c1121f, #c1121f);
	background-image: -o-linear-gradient(top, #c1121f, #c1121f);
	background-image: linear-gradient(to bottom, #c1121f, #c1121f);
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
	font-family: Arial;
	color: #ffffff;
	font-size: 15px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	border: none;
}

.botton:hover {
	/* background: #3cb0fd; */
	background-image: -webkit-linear-gradient(top, #780000, #780000);
	background-image: -moz-linear-gradient(top, #780000, #780000);
	background-image: -ms-linear-gradient(top, #780000, #780000);
	background-image: -o-linear-gradient(top, #780000, #780000);
	background-image: linear-gradient(to bottom, #780000, #780000);
	text-decoration: none;
}

.room_button {
	text-align: center;
}

/* location */

#Location {
	background-color: #fdf0d5;
	height: 80vh;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
}

.google_location {
	width: 50rem;
}

.address {
	width: 33rem;
}

.bold {
	font-size: larger;
	font-weight: 800;
}

/* contact_us */

.contact_us {
	background-color: #fdf0d5;
	height: 50vh;
	padding: 5%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* footer */

#footer {
	width: 100%;
	background-color: #c1121f;
	display: flex;
	color: white;
}

#footer .flex {
	display: flex;
	width: -webkit-fill-available;
	width: -moz-available;
}

.border {
	border-right-width: 1px;
	border-right-color: white;
	border-right-style: dashed;
}

.footer_contact, .quick_link, .cuconut {
	width: -webkit-fill-available;
	width: -moz-available;
	padding: 5%;
}

.quick_link a, .cuconut a {
	text-decoration: none;
	color: inherit;
}

.cuconut img {
	width: 200px;
}

.cuconut p {
	color: bisque;
}

@media (max-width:700px) {
	.main {
		height: 1200px;
	}
	.main_content {
		height: 1000px;
		display: flex;
		flex-direction: column;
	}
	.main_content_1 {
		width: 80%;
		height: 400px;
	}
	#main_img {
		width: 100%;
		height: 400px;
	}
	.main_content_2 {
		width: 80%;
		height: 500px;
	}
	.services {
		flex-direction: column;
		height: 500px;
	}
	.services_cont {
		height: 100px;
		width: 80%;
	}
	.room_cont {
		width: 80%;
		height: 65vh;
		flex-direction: column;
	}
	.room_cont img {
		width: 100%;
		height: auto;
	}
	.google_location {
		width: 90%;
	}
	.address {
		width: 90%;
	}
	#footer {
		flex-direction: column;
		align-items: end;
	}
	#footer div {
		width: auto;
		border: none;
		margin: 2%;
	}
}